<section class='row-fluid'>
    <div class='span12'>
        <img src="https://github.com/leandrosardi/mysaas/blob/main/public/core/images/logo/logo-16-01.png?raw=true" alt='ConnectionSphere' />
        <p>SelectRows.js Library</p>
        <br/>
        <p>
            The <b>SelectRows.Js</b> is a JavaScript library for handling the rows selection of an HTML table.<br/>
            <p>Visit our <a href="https://github.com/leandrosardi/selectrowsjs/" target="_window">SelectRowsJs on GitHub</a> to find code examples.</p>
        </p>
    </div>
</section>

<br/>

<section class='row-fluid'>
    <div class='span12 box'>
            <h3>Live Example</h3>

            <p>Select and unselect rows to see it working. <button class="btn btn-blue" data-rows-group-id='users'>This button is enabled if any row is checked.</button></p>

            <table class="table table-striped">
                <thead>
                    <th style='text-align: center; width:15px' >
                        <input class="checkbox select-all-rows" data-input-id='ids' data-rows-group-id='users' type="checkbox">
                    </th>
                    <th style ='width:36px;'>
                        <!-- picture -->
                    </th>
                    <th style ='width:auto;'>
                        Name
                    </th>
                    <th style ='width:auto;'>
                        Email
                    </th>
                    <th style ='width:auto;'>
                        Phone
                    </th>
                    <th style='width:36px;'>
                        Verified
                    </th>
                    <th style='width:36px;'>
                        <!-- remove button -->
                    </th>
                </thead>
            
                <tbody>
                    <tr>
                        <td style='text-align: center; vertical-align: top;'>
                            <input class="checkbox select-row" data-rows-group-id='users' type="checkbox" id="123" data-id="123" />
                        </td>
                        <td>
                            <img class='avatar' src="https://www.gravatar.com/avatar/123" alt="Leandro Daniel Sardi" />
                        </td>
                        <td>
                            <input class='user-input input-block-level' type='text' id='name' value='Leandro Daniel Sardi' />
                        </td>
                        <td>
                            <input class='user-input input-block-level' type='text' id='email' value='leandro.sardi@expandedventure.com' />
                        </td>						
                        <td>
                            <input class='user-input input-block-level' type='text' id='phone' value='' />
                        </td>
                        <td style='text-align: center; vertical-align: top;'>
                            <a class='btn btn-link' style='color:green;' title='Verified' href=#><i class="icon-ok"></i></a>
                        </td>
                        <td style='text-align: center; vertical-align: top;'>
                            <a class='btn btn-link' style='color:red;' title='Remove User' href=#><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td style='text-align: center; vertical-align: top;'>
                            <input class="checkbox select-row" data-rows-group-id='users' type="checkbox" id="456" data-id="456" />
                        </td>
                        <td>
                            <img class='avatar' src="https://www.gravatar.com/avatar/456" alt="Anibal Smith" />
                        </td>
                        <td>
                            <input class='user-input input-block-level' type='text' id='name' value='Anibal Smith' />
                        </td>
                        <td>
                            <input class='user-input input-block-level' type='text' id='email' value='anibal.smith@expandedventure.com' />
                        </td>						
                        <td>
                            <input class='user-input input-block-level' type='text' id='phone' value='555-5555' />
                        </td>
                        <td style='text-align: center; vertical-align: top;'>
                            <a class='btn btn-link' style='color:green;' title='Verified' href=#><i class="icon-ok"></i></a>
                        </td>
                        <td style='text-align: center; vertical-align: top;'>
                            <a class='btn btn-link' style='color:red;' title='Remove User' href=#><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class='row-fluid'>
            <div class="span6 box">
                <h3>Selected Rows</h3>
                <p>A comma-separated list of IDs is built on this text field.</p>
                <input type='text' name='ids' id='ids' value='' />
            </div>

            <div class="span6 box">
                <h3>Code Examples</h3>
                <p>Visit our <a href="https://github.com/leandrosardi/selectrowsjs/" target="_window">SelectRowsJs on GitHub</a> to find code examples.</p>
                <p><b>Remember to Star It!</b></p>
            </div>
    </div>
</section>


<script>
    // call the function init when the page is loaded.
    selectRowsJs.init();
</script>

		